.typeGrass {
    color: green;
    text-align: center;
}
.typeGround {
    color: brown;
    text-align: center;
}
.typeFire {
    color: red;
    text-align: center;
}
.typeWater {
    color: blue;
    text-align: center;
}
.typeFighting {
    color: orange;
    text-align: center;
}
.typeSteel {
    color: slategrey;
    text-align: center;
}
.typeNormal {
    color: dimgray;
    text-align: center;
}
.typeFlying {
    color:cornflowerblue;
    text-align: center;
}
.typeBug {
    color:yellowgreen;
    text-align: center;
}
.typeElectric {
    color: gold;
    text-align: center;
}
.typePsychic {
    color: hotpink;
    text-align: center;   
}