.typeGrass {
    color: forestgreen;
    text-align: center;
}
.typeGround {
    color: rgb(219, 146, 72);
    text-align: center;
}
.typeFire {
    color: red;
    text-align: center;
}
.typeWater {
    color: dodgerblue;
    text-align: center;
}
.typeFighting {
    color: rgb(243, 120, 6);
    text-align: center;
}
.typeSteel {
    color: slategrey;
    text-align: center;
}
.typeNormal {
    color: mintcream;
    text-align: center;
}
.typeFlying {
    color: lightskyblue;
    text-align: center;
}
.typeBug {
    color:yellowgreen;
    text-align: center;
}
.typeElectric {
    color: gold;
    text-align: center;
}
.typePsychic {
    color: hotpink;
    text-align: center;   
}
.typePoison {
    color: blueviolet;
    text-align: center;
}
.typeRock {
    color: rgb(100, 64, 17);
    text-align: center;
}